h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div span {
    font-size: 1rem;
    color: red;
    padding: 1rem 2rem;
}

h2 {
    color: #cecece;
    background-color: azure;
    text-align: center;
}